body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dark {
    background-color: #333;
    color: #f4f4f9;
}
h1 {
    color: #333;
}
.dark h1 {
    color: #f4f4f9;
}
#toggleDarkMode {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
}
#projectList {
    width: 100%;
    max-width: 600px; /* Limit max width for readability */
    margin-top: 60px;
}
ul {
    list-style: none;
    padding: 0;
    width: 100%;
}
li {
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}
a.project-link {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
    display: block; /* Make the link fill the li element */
    padding: 15px 20px; /* Larger padding for easier clicking on mobile */
    transition: color 0.3s ease;
}
.dark a.project-link {
    color: #9abfff;
}
a.project-link:hover {
    color: #0056b3; /* Darker blue on hover for better interaction feedback */
}
@media (max-width: 600px) {
    body {
        padding: 10px;
    }
    #toggleDarkMode {
        top: 10px;
        right: 10px;
    }
}
